<div class="container">

    <h1>Plain Heading</h1>
    
    <a href="#" mat-raised-button color="primary">Click the second button</a><br>
    
    <button mat-button color="warn">Click here!</button><br>
    <button mat-button color="primary">Click here!</button><br>
    <button mat-raised-button color="primary">Click here!</button><br>
    <button mat-flat-button color="primary">Click here!</button><br>
    <button mat-stroked-button color="primary">Click</button><br>
    <button mat-icon-button color="primary">Click</button><br>
    <button mat-fab color="primary">Click</button><br>
    <button mat-mini-fab color="primary">Click</button><br>
    
    <h1 class="mat-display-1">The Main Heading</h1>
    <h1 class="mat-display-2">The Second Main Headeer</h1>
    <h1 class="mat-display-3">The Third Main Heading</h1>
    <h1 class="mat-display-4">The Forth Main Heading</h1>
    
    <h1 class="mat-h1 mat-headline">Headline</h1>
    <h1 class="mat-h2 mat-title">Title</h1>
    <h1 class="mat-h3 mat-subheading-1">Sub Heading</h1>
    <h1 class="mat-h3 mat-subheading-2">Sub Heading 2</h1>
    
    <h1 class="mat-body mat-body-1">Body</h1>
    <h1 class="mat-body-strong mat-body-2">Body 2</h1>
    <h1 class="input">Body 2</h1>
    
    <hr>
    <h1><strong>Toggle Buttons</strong></h1>
    <br>
    
    <mat-button-toggle-group name="toggle_data">
        <mat-button-toggle value="1st_button">
            Click here        
        </mat-button-toggle>
        <mat-button-toggle value="2nd_button">
            Click here please   
        </mat-button-toggle>
        <mat-button-toggle value="3rd_button">
            Click here        
        </mat-button-toggle>
    </mat-button-toggle-group>
    
    <br>
    <br>
    
    <p>add multiple button can be acctivated</p>
    <mat-button-toggle-group name="toggle_data" multiple>
        <mat-button-toggle value="1st_button">
            Click here        
        </mat-button-toggle>
        <mat-button-toggle value="2nd_button">
            Click here please   
        </mat-button-toggle>
        <mat-button-toggle value="3rd_button">
            Click here        
        </mat-button-toggle>
    </mat-button-toggle-group>
    
    <br>
    <br>
    
    <p>add appearance</p>
    <mat-button-toggle-group appearance="lagacy" name="toggle_data" multiple>
        <mat-button-toggle value="1st_button">
            Click here        
        </mat-button-toggle>
        <mat-button-toggle value="2nd_button">
            Click here please   
        </mat-button-toggle>
        <mat-button-toggle value="3rd_button">
            Click here        
        </mat-button-toggle>
    </mat-button-toggle-group>
    
    <br>
    <br>
    
    <p>add vertical and disabled</p>
    <mat-button-toggle-group appearance="lagacy" vertical disabled name="toggle_data" multiple>
        <mat-button-toggle value="1st_button">
            Click here        
        </mat-button-toggle>
        <mat-button-toggle value="2nd_button">
            Click here please   
        </mat-button-toggle>
        <mat-button-toggle value="3rd_button">
            Click here        
        </mat-button-toggle>
    </mat-button-toggle-group>
    
    <br>
    <br>
    
    <hr>
    <h1><strong>Badges</strong></h1>
    <br>
    
    <div>
        <span matBadge="4" matBadgeOverlap="false">Some Text</span><br><br>
        <button mat-raised-button matBadge="4">The Button</button><br><br>
        <button 
            mat-raised-button 
            color="accent" 
            matBadgeColor="primary" 
            matBadgePosition="before" 
            matBadge="3"
        >
            The 2nd Button
        </button><br><br>
    </div>

    <span matBadge="17" matBadgeOverlap="false">Notification</span><br><br>
    <span matBadge="17" matBadgePosition="below" matBadgeOverlap="false">Notification</span><br><br>
    <span matBadge="17" matBadgePosition="before" matBadgeOverlap="false">Notification</span><br><br>
    <span matBadge="17" matBadgePosition="below before" matBadgeOverlap="false">Notification</span><br><br>
    
    <span matBadge="17" matBadgeSize="large" matBadgeOverlap="false">Notification</span><br><br>
    <span matBadge="17" matBadgeSize="small" matBadgeOverlap="false">Notification</span><br><br>

    <br>
    <br>

    <hr>
    <h1><strong>Chips</strong></h1>
    <br>

    <mat-chip-list>
        <mat-chip color="accent" selected>1st chip</mat-chip>
        <mat-chip color="accent" disabled selected>2nd chip</mat-chip>
        <mat-chip>3rd chip</mat-chip>
        <mat-chip color="primary" disabled>4th chip</mat-chip>
        <mat-basic-chip>5th chip</mat-basic-chip>

    </mat-chip-list>

    <br>
    <br>

    <hr>
    <h1><strong>Icons</strong></h1>
    <br>

    <mat-icon>home</mat-icon>
    <mat-icon>face</mat-icon>
    <mat-icon>input</mat-icon>
    <mat-icon color="warn">query_builder</mat-icon>

    <br>
    <br>

    <hr>
    <h1><strong>Progress Spinner</strong></h1>
    <br>

    <mat-spinner></mat-spinner><br><br>
    <mat-progress-spinner value="20"></mat-progress-spinner><br><br>
    <mat-progress-spinner value="50"></mat-progress-spinner><br><br>

    <br>
    <br>

    <hr>
    <h1><strong>Progress Bar</strong></h1>
    <br>

    <mat-progress-bar mode="determinate" value="80"></mat-progress-bar><br><br>
    <mat-progress-bar mode="determinate" value="60"></mat-progress-bar><br><br>
    <mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar><br><br>
    <mat-progress-bar mode="determinate" value="20"></mat-progress-bar><br><br>

    <mat-progress-bar mode="buffer" value="10"></mat-progress-bar><br><br>
    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar><br><br>
    <mat-progress-bar mode="query"></mat-progress-bar><br><br>

    <br>
    <br>

    <hr>
    <h1><strong>Cards</strong></h1>
    <br>

    <div class="card-class">
        <mat-card>

            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>
                        The main title
                    </mat-card-title>
                    <mat-card-subtitle>
                        The sub title
                    </mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>

            <mat-card-content>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda rem odio velit. Nihil quidem praesentium perferendis, soluta odio iste impedit sapiente, libero eligendi eaque harum!</p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-raised-button>Share</button>  
                <button mat-raised-button>Close</button>  
            </mat-card-actions>


            <mat-card-footer>
                The card footer
            </mat-card-footer>

        </mat-card>
    </div>

    <br>
    <br>

    <hr>
    <h1><strong>Divide and Expansion Panel</strong></h1>
    <br>

    <p>Some text</p>
    <mat-divider></mat-divider>
    <p>Some othet text</p>
    <mat-divider></mat-divider>

    <br><br>

    <!-- accordion close the current one click to another one -->
    <mat-accordion>

        <mat-expansion-panel>
    
            <mat-expansion-panel-header>
                <mat-panel-title>The Panel Title</mat-panel-title>
                <mat-panel-description>
                    <p>This is the Panel Descriptin.</p>
                </mat-panel-description>
            </mat-expansion-panel-header>
    
            <p>This is the expansion description which we will see upon expansion.</p>
            <mat-action-row>
                <button mat-button>Click here</button>
            </mat-action-row>
    
        </mat-expansion-panel>
    
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>The second title</mat-panel-title>
                <mat-panel-description>The second Description</mat-panel-description>
            </mat-expansion-panel-header>
            <p>Some basic Text</p>
        </mat-expansion-panel>

    </mat-accordion>

    <br>
    <br>

    <hr>
    <h1><strong>List</strong></h1>
    <br>

    <mat-list>
        <mat-list-item>Milk</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Tea</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Water</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Sugar</mat-list-item>
    </mat-list>

    <br>
    <br>

    <mat-nav-list>
        <a mat-list-item href="#">I'm a link</a>
        <a mat-list-item href="#">I'm a link</a>
    </mat-nav-list>

    <mat-action-list>
        <button mat-button>Click me</button>
        <button mat-button>Click me please</button>
    </mat-action-list>

    <mat-action-list>
        <button mat-list-item>I'm a button</button>
        <button mat-list-item>I'm a button</button>
    </mat-action-list>

    <mat-selection-list>
        <mat-list-option>Option 1</mat-list-option>
        <mat-list-option>Option 2</mat-list-option>
    </mat-selection-list>

    <br>
    <br>

    <hr>
    <h1><strong>Steppers</strong></h1>
    <br>

    <mat-horizontal-stepper>

        <mat-step label="Step 1">
            <p>The step 1</p>
            <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step label="Step 2">
            <p>The step 2</p>
            <button mat-button matStepperPrevious>Previous</button>
            <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step label="Step 3">
            <p>The step 3</p>
            <button mat-button matStepperPrevious>Previous</button>
        </mat-step>  

    </mat-horizontal-stepper>


    <mat-vertical-stepper>

        <mat-step label="Step 1">
            <p>The step 1</p>
            <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step label="Step 2">
            <p>The step 2</p>
            <button mat-button matStepperPrevious>Previous</button>
            <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step label="Step 3">
            <p>The step 3</p>
            <button mat-button matStepperPrevious>Previous</button>
        </mat-step>  

    </mat-vertical-stepper>

    <br>
    <br>

    <hr>
    <h1><strong>Tabs</strong></h1>
    <br>

    <mat-tab-group mat-align-tabs="end" animationDuration="500ms">
        <mat-tab label="Tab 1">
            <p>Some data</p>
        </mat-tab>
        <mat-tab label="Tab 2">
            <p>Some data for Tab 2</p>
        </mat-tab>
        <mat-tab label="Tab 3">
            <p>Some data for Tab 3</p>
        </mat-tab>
    </mat-tab-group>


    <br>
    <br>

    <hr>
    <h1><strong>Grid List</strong></h1>
    <br>

    <mat-grid-list cols="3" gutterSize="30px" rowHeight="60px">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>

    <br>
    <br>

    <mat-grid-list cols="4" rowHeight="4:3">
        <mat-grid-tile>2.1</mat-grid-tile>
        <mat-grid-tile>2.2</mat-grid-tile>
        <mat-grid-tile>2.3</mat-grid-tile>
        <mat-grid-tile>2.4</mat-grid-tile>
    </mat-grid-list>


    <hr>
    <h1><strong>Layout</strong></h1>
    <br>

    <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile colspan="3">header</mat-grid-tile>
        <mat-grid-tile colspan="3">Navigation</mat-grid-tile>
        <mat-grid-tile>Content 1</mat-grid-tile>
        <mat-grid-tile>Content 2</mat-grid-tile>
        <mat-grid-tile>Content 3</mat-grid-tile>
        <mat-grid-tile colspan="3">Footer</mat-grid-tile>
    </mat-grid-list>


    <hr>
    <h1><strong>Toolbar</strong></h1>
    <br>

    <mat-toolbar color="primary"><span>My Application</span></mat-toolbar>

    <mat-toolbar color="accent">
        <mat-toolbar-row>
            The first title row
        </mat-toolbar-row>
        <mat-toolbar-row>
            The second title row
        </mat-toolbar-row>
    </mat-toolbar>


    <hr>
    <h1><strong>Toolbar</strong></h1>
    <br>


    <button mat-button [matMenuTriggerFor]="menu">Open Menu</button>

    <!-- yPosition set open position up/down and xPosition right/left-->
    <mat-menu #menu="matMenu" yPosition="above" xPosition="after">
        <button mat-menu-item>First Item menu</button>
        <button mat-menu-item>Second Item</button>
        <button mat-menu-item>Third Item</button>
        <button mat-menu-item [matMenuTriggerFor]="subMenu">Forth Item</button>
    </mat-menu>

    <mat-menu #subMenu="matMenu">
        <button mat-menu-item>Forth 1</button>
        <button mat-menu-item>Forth 2</button>
    </mat-menu>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>
