<h1>Plain Heading</h1>

<a href="#" mat-raised-button color="primary">Click the second button</a><br>

<button mat-button color="warn">Click here!</button><br>
<button mat-button color="primary">Click here!</button><br>
<button mat-raised-button color="primary">Click here!</button><br>
<button mat-flat-button color="primary">Click here!</button><br>
<button mat-stroked-button color="primary">Click</button><br>
<button mat-icon-button color="primary">Click</button><br>
<button mat-fab color="primary">Click</button><br>
<button mat-mini-fab color="primary">Click</button><br>

<h1 class="mat-display-1">The Main Heading</h1>
<h1 class="mat-display-2">The Second Main Headeer</h1>
<h1 class="mat-display-3">The Third Main Heading</h1>
<h1 class="mat-display-4">The Forth Main Heading</h1>

<h1 class="mat-h1 mat-headline">Headline</h1>
<h1 class="mat-h2 mat-title">Title</h1>
<h1 class="mat-h3 mat-subheading-1">Sub Heading</h1>
<h1 class="mat-h3 mat-subheading-2">Sub Heading 2</h1>

<h1 class="mat-body mat-body-1">Body</h1>
<h1 class="mat-body-strong mat-body-2">Body 2</h1>
<h1 class="input">Body 2</h1>